/*-------------------- PÃGINA PRINCIPAL ----------------------*/

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.encabezado {
    display: flex;
    height: 250px;
}

.objetoEncabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33%;
    margin: 20px;
}

.objetoEncabezado > img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.carousel-item {
    position: relative;
    display: inline-block;
}

.textoEncima {
    position: absolute;
    bottom: 50px;
    left: 200px;
}

.textoEncima2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 50px;
}

.textoEncima3 {
    position: absolute;
    bottom: 50px;
    right: 200px;
}

.carousel-item > img{
    opacity: 50%;
}

.tarjetas {
    display: flex;
    align-items: center;
    text-align: center;
    height: 300px;
}

.tarjeta {
    width: 30%;
    border: solid gray 1px;
    border-radius: 10px;
    height: 100px;
    margin: 20px;
}

/*--------------------- TABLA --------------------------------------------------*/
.contenedorTabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloTabla{
    background-color: lightblue;
    border: solid blue 1px;
    border-radius: 10px;
    color: blue;
    margin: 30px;
    padding: 10px;
}

.table {
    padding: 30px;
}

/*------------------ FORMULARIO -------------------------------------*/
.contenedorFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloFormulario {
    background-color: lightcoral;
    border: solid red 1px;
    border-radius: 10px;
    color: red;
    font-weight: bold;
    margin: 30px;
    padding: 10px;
}

.formulario {
    margin: 30px;
}

footer {
    text-align: center;
}